@media only screen and (min-width: 76em) {
  .landing-page-card {
    width: 33%;
    float: left;

    &:nth-child(3n + 1) .box {
      margin: 0 .5em 1em 0;
    }

    &:nth-child(3n + 2) .box {
      margin: 0 .5em 1em .5em;
    }

    &:nth-child(3n + 3) .box {
      margin: 0 0 1em .5em;
    }
  }
}
