.media-desktop({
  #main-content {
    float: left;
    width: 75% !important;
    padding-right: 30px;
  }

  #side-nav {
    float: left;
    width: 25% !important;
  }
});

.media-desktop-and-tablet({
  .layout-container {
    padding: 0 1em;
  }
});
