.media-tablet({
  #main-content .article-card {
    width: 50%;
    float: left;
    margin-bottom: 15px;

    &:nth-child(2n + 1) .box {
      margin: 0 .5em 1em 0;
    }

    &:nth-child(2n + 2) .box {
      margin: 0 0 1em .5em;
    }
  }
});
