@media only screen and (min-width: 0px) and (max-width: 767px) {
  .landing-page-card {
    width: 50%;
    float: left;

    &:nth-child(2n + 1) .box {
      margin: 0 .5em 1em 0;
    }

    &:nth-child(2n + 2) .box {
      margin: 0 0 1em .5em;
    }
  }
}
